.env
.env.*
*.key
*.pem
*.ppk
*.pfx
*.p12
secrets.*
credentials.*
config.local.*

bin/
obj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
.vs/
*.rsuser
.idea/


publish/
PublishProfiles/


__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.spec.lock


venv/
.venv/
env/
.env/


dist/
build/


*.exe
*.out
*.bin
*.app


*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*~


downloads/
exfil/
loot/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
desktop.ini
